<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title><%= title %></title>
    <meta content="Quote Detail" name="SAI-APS-Portal" />
    <link rel="shortcut icon" href="/public/assets/images/SAI-Logo.JPG">
    <link rel="stylesheet" href="/public/plugins/morris/morris.css">

    <link href="/public/plugins/RWD-Table-Patterns/dist/css/rwd-table.min.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="/public/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet" />
    <link href="/public/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="/public/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="/public/plugins/bootstrap-touchspin/css/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />

    <link href="/public/assets/css/breakerDragDrop.css" rel="stylesheet" type="text/css" />
    <link href="/public/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" type="text/css" />
    <!-- ION Slider -->
    <link href="/public/plugins/ion-rangeslider/ion.rangeSlider.css" rel="stylesheet" type="text/css"/>
    <link href="/public/plugins/ion-rangeslider/ion.rangeSlider.skinModern.css" rel="stylesheet" type="text/css"/>

    <link href="/public/assets/css/metismenu.min.css" rel="stylesheet" type="text/css">
    <link href="/public/assets/css/icons.css" rel="stylesheet" type="text/css">
    <link href="/public/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/public/assets/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
<div id="wrapper">

    <!-- Top Bar Start -->
    <div class="topbar">

        <!-- LOGO -->
        <div class="topbar-left" style="background-color: white">
            <a href="../../../views" class="logo">
                        <span>
                            <img src="/public/assets/images/SAI-Logo.JPG" alt="" height="67">
                        </span>
                <i>
                    <img src="/public/assets/images/SAI-Logo.JPG" alt="" height="22">
                </i>
            </a>
        </div>

        <nav class="navbar-custom">
            <ul class="navbar-right d-flex list-inline float-right mb-0">
                <li class="dropdown notification-list d-none d-sm-block">
                    <form role="search" class="app-search">
                        <div class="form-group mb-0">
                            <input type="text" class="form-control" placeholder="Search..">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </div>
                    </form>
                </li>

                <li class="dropdown notification-list">
                    <a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                        <i class="ti-bell noti-icon"></i>
                        <span class="badge badge-pill badge-danger noti-icon-badge">3</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg">
                        <!-- item-->
                        <h6 class="dropdown-item-text">
                            Notifications (258)
                        </h6>
                        <div class="slimscroll notification-item-list">
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item active">
                                <div class="notify-icon bg-success"><i class="mdi mdi-cart-outline"></i></div>
                                <p class="notify-details">Your order is placed<span class="text-muted">Dummy text of the printing and typesetting industry.</span></p>
                            </a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <div class="notify-icon bg-warning"><i class="mdi mdi-message"></i></div>
                                <p class="notify-details">New Message received<span class="text-muted">You have 87 unread messages</span></p>
                            </a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <div class="notify-icon bg-info"><i class="mdi mdi-martini"></i></div>
                                <p class="notify-details">Your item is shipped<span class="text-muted">It is a long established fact that a reader will</span></p>
                            </a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <div class="notify-icon bg-primary"><i class="mdi mdi-cart-outline"></i></div>
                                <p class="notify-details">Your order is placed<span class="text-muted">Dummy text of the printing and typesetting industry.</span></p>
                            </a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <div class="notify-icon bg-danger"><i class="mdi mdi-message"></i></div>
                                <p class="notify-details">New Message received<span class="text-muted">You have 87 unread messages</span></p>
                            </a>
                        </div>
                        <!-- All-->
                        <a href="javascript:void(0);" class="dropdown-item text-center text-primary">
                            View all <i class="fi-arrow-right"></i>
                        </a>
                    </div>
                </li>
                <li class="dropdown notification-list">
                    <div class="dropdown notification-list nav-pro-img">
                        <a class="dropdown-toggle nav-link arrow-none waves-effect nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                            <!--<img src="/public/assets/images/users/user-4.jpg" alt="user" class="rounded-circle">-->
                                <% if(profilePic != null){ %>
                                    <img src="<%= profilePic %>" alt="Profile Picture" class="rounded-circle">
                                <% } else{ %>
                                    <img src="/public/uploads/default.jpg" alt="Profile Picture" class="rounded-circle">
                                <% } %>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                            <!-- item-->
                            <a class="dropdown-item" href="/userProfile"><i class="mdi mdi-account-circle m-r-5"></i> Profile</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="/logout"><i class="mdi mdi-power text-danger"></i> Logout</a>
                        </div>
                    </div>
                </li>

            </ul>

            <ul class="list-inline menu-left mb-0">
                <li class="float-left">
                    <button class="button-menu-mobile open-left waves-effect">
                        <i class="mdi mdi-menu"></i>
                    </button>
                </li>
            </ul>

        </nav>

    </div>
    <!-- Top Bar End -->

    <!-- ========== Left Sidebar Start ========== -->
    <div class="left side-menu">
        <div class="slimscroll-menu" id="remove-scroll">

            <!--- Sidemenu -->
            <div id="sidebar-menu">
                <!-- Left Menu Start -->
                <ul class="metismenu" id="side-menu">
                    <li class="menu-title">Main</li>
                    <li>
                        <a href="../dashboard" class="waves-effect">
                            <i class="mdi mdi-view-dashboard"></i><span class="badge badge-primary badge-pill float-right">2</span> <span> Dashboard </span>
                        </a>
                    </li>
                    <li>
                        <a href="../calendar" class="waves-effect"><i class="mdi mdi-calendar-check"></i><span> Calendar </span></a>
                    </li>

                    <li>
                        <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-email-outline"></i><span> Email <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
                        <ul class="submenu collapse">
                            <li><a href="../email-inbox">Inbox</a></li>
                            <li><a href="../email-read">Email Read</a></li>
                            <li><a href="../email-compose">Email Compose</a></li>
                        </ul>
                    </li>

                    <li class="menu-title">Portals</li>

                    <li>
                        <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-calculator"></i> <span> Application Eng. <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span> </a>
                        <ul class="submenu collapse">
                            <li><a href="../newQuote">New Quote</a></li>
                            <li><a>Pricing Update</a></li>
                            <li><a>Re-release Quote</a></li>
                            <li><a>Order Entry</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-voice"></i> <span> Project Management <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span> </a>
                        <ul class="submenu collapse">
                            <li><a>Projects and Customers</a></li>
                            <li><a>Delivery Milestones</a></li>
                            <li><a>Tasks</a></li>
                            <li><a>BOM's</a></li>
                            <li><a>Change Orders</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-math-compass"></i> <span> Mechanical Eng. <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span> </a>
                        <ul class="submenu collapse">
                            <li><a href="../submittal">Submittals</a></li>
                            <li><a>Design</a></li>
                            <li><a>Tasks</a></li>
                            <li><a href="../MBOM">BOM's</a></li>
                            <li><a>Releases</a></li>
                            <li><a>Issue Log</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-flash"></i> <span> Electrical Eng. <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span> </a>
                        <ul class="submenu collapse">
                            <li><a>Submittals</a></li>
                            <li><a>Design</a></li>
                            <li><a>Tasks</a></li>
                            <li><a>BOM's</a></li>
                            <li><a>Releases</a></li>
                            <li><a>Issue Log</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-cash-usd"></i> <span> Purchasing <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span> </a>
                        <ul class="submenu collapse">
                            <li><a>Vendors</a></li>
                            <li><a>BOM's</a></li>
                            <li><a>Ordering</a></li>
                            <li><a>Tracking</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-wrench"></i> <span> Production <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span> </a>
                        <ul class="submenu collapse">
                            <li><a>Releases</a></li>
                            <li><a>Delivery Milestones</a></li>
                            <li><a>Tasks</a></li>
                            <li><a>Issue Log</a></li>
                        </ul>
                    </li>
                </ul>

            </div>
            <!-- Sidebar -->
            <div class="clearfix"></div>

        </div>
        <!-- Sidebar -left -->

    </div>
    <!-- Left Sidebar End -->

    <div class="content-page">
        <!-- Content Start -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-title-box">
                            <h4 class="page-title">Mechanical Engineering - BOM Configure</h4>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card m-b-20">
                                        <div class="card-body">
                                            <h4 class="mt-0 header-title">Item Summary</h4>
                                            <p class="mb-0">
                                                Fill out the following for each layout, and click "Save" afterwards
                                            </p>
                                            <p class="text-muted m-b-30"></p>
                                            <h6>Commonly Used</h6>
                                            <form id="itemForm" class="itemForm" action="/createComItem" method="POST">
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-sm-3">
                                                            <label for="example-text-input" class="col-form-label">Item Type</label>
                                                            <select class="form-control select2" id="itemSelect2" name="itemSelect2" required>
                                                                <option value="">Select</option>
                                                                <% for (var el of mfgMap.keys()) { %>
                                                                <option value="<%=el%>"><%=el%></option>
                                                                <% } %>
                                                                <option data-parent="<%=el%>">OTHER</option>
                                                            </select>
                                                            <input type="text" name="otherItemType" class="form-control" id="otherItemType" value="" placeholder="Item Type Here" style="display:none;" autocomplete="off"/>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <label for="example-text-input" class="col-form-label">Item Mfg.</label>

                                                            <select class="form-control select2" id="mfgSelect2" name="mfgSelect2">
                                                                <% for (var el of mfgMap.keys()) { %>
                                                                    <% var itemMfg = mfgMap.get(el).split('|'); %>
                                                                    <% for (var i = 0; i < itemMfg.length; i++) { %>
                                                                    <option data-parent="<%=el%>" value="<%=el%>|<%=itemMfg[i]%>"><%=itemMfg[i]%></option>
                                                                    <% } %>
                                                                    <option data-parent="<%=el%>">OTHER</option>
                                                                <% } %>
                                                            </select>
                                                            <select class="form-control select2" id="mfgList" name="mfgList">
                                                                <% for(var el of itemMfgSet){%>
                                                                <option value="<%=el%>"><%=el%></option>
                                                                <% } %>
                                                                <option>OTHER</option>
                                                            </select>
                                                            <input type="text" name="otherMfgType" class="form-control" id="otherMfgType" value="" placeholder="Type Mfg. Here" style="display:none;" autocomplete="off"/>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <label for="example-text-input" class="col-form-label">Description</label>
                                                            <input type="text" name="itemDesc" maxlength="160" class="form-control" value="" placeholder="Type Description Here" autocomplete="off"/>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <label for="example-text-input" class="col-form-label">P/N</label>
                                                            <input type="text" name="itemPN" class="form-control" value="" placeholder="Type P/N Here" autocomplete="off"/>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <label for="example-text-input" class="col-form-label">Unit Of Issue</label>
                                                            <select class="form-control select2" name="unitOfIssue">
                                                                <option value="Select">Select</option>
                                                                <option value="EA">EA</option>
                                                                <option value="FT">FT</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <label for="example-text-input" class="col-form-label">Cat. Code</label>
                                                            <select class="form-control select2" name="catCode">
                                                                <option value="Select">Select</option>
                                                                <% for (var i = 0; i < catCodeData.length; i++) { %>
                                                                    <option value="<%= catCodeData[i] %>"><%= catCodeData[i] %></option>
                                                                <% } %>
                                                            </select>

                                                        </div>
                                                    </div>
                                                    <div class="row justify-content-center">
                                                        <div class="col-2" style="padding-top:5%;">
                                                            <input id="uploadBtn" type="submit" value="Save" class="btn-block btn-lg btn-outline-success waves-effect waves-light" onclick=""/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- container-fluid -->
        </div> <!-- content -->
    </div> <!-- content-page -->
    <footer class="footer">
        © 2019 SAI, Advanced Power Solutions Inc.
    </footer>
</div> <!-- wrapper -->


<!-- Responsive-table-->
<script src="/public/plugins/RWD-Table-Patterns/dist/js/rwd-table.min.js"></script>
<script>
    $(function() {
        $('.table-responsive').responsiveTable({
            addDisplayAllBtn: 'btn btn-secondary'
        });
    });
</script>

<!-- Plugins js -->
<script src="/public/plugins/morris/morris.min.js"></script>
<script src="/public/plugins/raphael/raphael-min.js"></script>
<script src="/public/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
<script src="/public/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="/public/plugins/select2/js/select2.min.js"></script>
<script src="/public/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
<script src="/public/plugins/bootstrap-filestyle/js/bootstrap-filestyle.min.js"></script>
<script src="/public/plugins/bootstrap-touchspin/js/jquery.bootstrap-touchspin.min.js"></script>
<script src="/public/plugins/ion-rangeslider/ion.rangeSlider.min.js"></script>
<script src="/public/plugins/jquery-sparkline/jquery.sparkline.min.js"></script>

<!-- Assets js -->
<script src="/public/assets/js/jquery.min.js"></script>
<script src="/public/assets/js/bootstrap.bundle.min.js"></script>
<script src="/public/assets/js/metisMenu.min.js"></script>
<script src="/public/assets/js/jquery.slimscroll.js"></script>
<script src="/public/assets/js/waves.min.js"></script>
<script src="/public/assets/pages/dashboard.js"></script>
<script src="/public/assets/pages/rangeslider-init.js"></script>
<script src="/public/assets/pages/form-advanced.js"></script>
<script src="/public/assets/js/app.js"></script>
<script src="/public/plugins/ion-rangeslider/ion.rangeSlider.min.js"></script>

<!-- User developed scripts -->
<script src="/public/assets/js/breakerDragDrop.js"></script>
<script src="/public/assets/js/mbomFilterDropdown.js"></script>

<!-- Creoson -->
<script src="/creoson/creoConnect.js"></script>

</body>
</html>